# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# JWT
FRONTEND_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
# Image upload (Cloudinary)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=