# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# JWT
# (to generate secure secrets, you can use this command : 
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))")
FRONTEND_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
# Image upload (Cloudinary)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=#stripe listen --forward-to localhost:3008/api/webhooks/stripe