DATABASE_URL="postgresql://apilace:apilace_secret@localhost:5438/apilace_db"
FRONTEND_URL=http://localhost:5178

JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

(to generate secure secrets, you can use this command : 
node -e "console.log(require('crypto').randomBytes(64).toString('hex'))")